@use "../base/" as *;
@use "../abstract/" as *;

.contactBanner {
  padding: 4rem 0;
  position: relative;
  @include mediaQuery(520px){
    padding-top: 170px;
  }
  &__title {
    max-width: 50rem;
    margin-bottom: 2rem;
  }
  &__wrapper {
    @include gridCustom(1.5fr 1fr, 5rem);
    @include mediaQuery(520px){
      display: flex;
      flex-direction: column;
    }
  }
  &__left {
    form {
      display: flex;
      flex-direction: column;
      input {
        width: 100%;
        padding: 1rem;
        background-color: $clr--dark;
        margin: 0.5rem 0 2rem;
      }
      textarea {
        @extend input;
        height: 10rem;
      }
      input::placeholder {
        color: $clr--light;
        font-family: $font-primary;
      }
      input:focus,
      input:enabled {
        color: $clr--light;
      }
    }
    &--name {
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }
  }
  &__right {
    padding: 4rem;
    background-color: $clr--light;
    border: 1px solid $clr--dark;
    height: fit-content;
    width: fit-content;
    &::after {
      position: absolute;
      display: inline-block;
      content: " ";
      background-color: $clr--dark;
      width: 40rem;
      height: 90vh;
      right: 1rem;
      bottom: 1rem;
      z-index: -9;
    }
    @include mediaQuery(520px){
      display:none;
    }
  }
}

.contactFaq {
  padding: 4rem 0;
  &__wrapper {
    display: flex;
    flex-direction: row;
    gap: 5rem;
  @include mediaQuery(520px){
    display: flex;
    flex-direction: column;
  }
  }
  &__left {
    max-width: 30rem;
    h2 {
      margin-bottom: 2rem;
    }
  }
  &__item {
    border-bottom: 1px solid $clr--gray;
    padding: 1.5rem 0;
    &--question {
      @include between;
      cursor:pointer;
      i {
        transition: 0.5s ease;
      }
    }
    &.active{
      i{
        transform: rotate(180deg);
      }
    }
    &--answer {
      max-height: 0;
      overflow: hidden;
      transition: 0.5s ease;
      margin-top: 1rem;
    }
    &.active{
      i{
        transform: rotate(180deg);
      }
      .contactFaq__item--answer{
        max-height: 1000px;
      }
    }
  }
}
