@use "../abstract/" as *;
@use "../base/" as *;

.header {
  padding: 3rem 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  &__wrapper {
    @include between;
  }
  &__logo {
    a > h4 {
      color: $clr--dark;
      font-size: clamp(1.25rem, 5vw, 1.5rem);
      
    }
  }
  &__nav {
    ul {
      display: flex;
      align-items: center;
      gap: 3rem;
      li a {
        font-weight: 600;
        color: $clr--dark;
      }
    }
  }
}
